//COLORS
$color-title: #eef5f4;
$color-wave-dark: #0a2733;
$color-wave-medium: #2b6c88;
$color-wave-light: #88fdee;
$color-black: #000000;
$color-grey: #777;
$color-grey-light: #f7f7f7;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;