.btn {

    &:link,
    &:visited {
         text-transform: uppercase;
         text-decoration: none;
         padding: 1.5rem 4rem;
         display: inline-block;
         border-radius: 10rem;
         transition: all .2;
         font-size: $default-font-size;
    }
    
    &--white {
        background-color: white;
        color: $color-grey;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
    
    }

    .btn-text {
        &:link,
        &:visited {
            color: $color-wave-dark;
            font-size: $default-font-size;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid $color-wave-medium;
            padding: 3px;

        }

        &:hover {
            background-color: $color-wave-medium;
            color: $color-grey-light;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(0);
        }
    }